.main-block {
	display: flex;
	flex-direction: column;
	gap: 10px;

	.prog-language {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.run-btn {
			background-color: #618b4e;
			color: white;
			margin-left: 20px;
			padding: 5px 10px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: #4f6d3a;
			}
		}

		.language {
			color: #618b4e; // Text color for dropdown
			background-color: #1e1e1e; // Dropdown background
			border: none;
			outline: none;
			padding: 5px 10px;
			cursor: pointer;
			border-radius: 5px;

			&:hover {
				box-shadow: 0 0 5px #618b4e;
				outline: none;
			}
		}
	}

	.code-block {
		.output {
			height: 25vh;

			.out-heading {
				// color: #618b4e;
				font-size: 1.2rem;
				font-weight: bold;
			}
			.output-box {
				overflow-y: auto;
				height: 18vh;
				background-color: #393838;
				padding: 10px;
				border-radius: 5px;

				.output-text {
					color: #dddada;
					font-size: 1.2rem;
				}
			}
		}
	}
}
